.tableScrollAsignarTutor {
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
  border-radius: 10px;
}
.scrollAsignarTutor {
  display: block;
}
.TablaAsignarTutor {
  height: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  background: #efefef;
  border-radius: 10px;
}
.inpuT {
  width: 700px;
}
.btnSaveAT {
  background: #ed9b40;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  float: right;
}
