.tableScrollEstudiante {
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
  border-radius: 10px;
}
.scrollEstudiante {
  display: block;
}
.TablaEstudiante {
  height: 73%;
  margin: 1%;
}
.btnAddEst {
  background: #000a25;
  color:white;
  border-radius: 10px;
  margin-bottom: 2%;
}
.btnImportar {
  background: #000a25;
  color:white;
  border-radius: 10px;
}
.colo {
  background: #ed9b40;
}
.anchoMo {
  width: 800px;
  background: black;
}
.tableScrollE {
  position: relative;
  height: 100%;
  overflow: auto;
  margin-top: 0%;
  width: 100%;
  border-radius: 10px;
}
.scrollE {
  display: block;
}
.TablaE {
  height: 80%;
  margin-bottom: 0.5%;
  background: #d9d9d9;
  border-radius: 20px;
  padding: 0.5%;
}
