.frmNot {
  width: 900px;
  height: 480px;
  position: relative;
  left: 10%;
  background: #d9d9d9;
  border-radius: 20px;
  margin-top: 3%;
  padding: 3%;
}
.btnSend {
  background: #ed9b40;
  border-radius: 10px;
  position: relative;
  left: 75%;

  width: 200px;
}
