* {
  font-family: 'Ubuntu Condensed', sans-serif !important;/* <-- fonts */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.li1{
  display: table-cell;padding-left: 0;
}
.sl{
  padding-left: 0px;
  position: absolute;
  animation-name: slider;
  animation-duration: 20s;
 
  animation-iteration-count: infinite;
}
@keyframes slider {
  0%{
    left: 0;
   }   
  35%{
    left: -220vh;
  }
  60%{ 
      left: -500vh;
  }

  100%{
      left: 0px;
  }
  
}
.img{
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 80vh;
  padding-left: 0;
}
.bod1{
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 80vh;
  overflow: hidden;
}
.Centrar {
  text-align: center;
  position: absolute;
  padding: 50px;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
}
.bod {
  background: url("../images/MainBackground.JPG");
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.h1 {
  color:  orange ;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 50px;
  position: relative;
}
.h2 {
  color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
}
.h3 {
  color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
}
.h4 {
  color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
  position: relative;
}
.h5 {
  color: #000a25;
  font-weight: 600;
}
.p {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
  width: 700px;
}
.body {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
  width: 700px;
}


.btna {
  background-color:  #000a25 ;
  color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
}
.btna span {
  color: #fff;
}


