.carta1 {
  width: 93%;
  height: 60%;
  background: white;
}
.cardDatos {
  border-radius: 20px;
  color: #000a25c9;
  border-style: solid;
  width: 450px;
  height: 60px;
  text-align: center;
}
.iconCard {
  position: relative;
  height: 30px;
  top: 12%;
  color: #000a25;
  left: 8px;
  width: 50px;
}
.iconCard1 {
  position: relative;
  height: 30px;
  top: 15%;
  color: #000a25;
  left: 10px;

  width: 40px;
}
.lblCard {
  margin-left: 1px;
}
.sizephoto {
  border-style: double;
  border-color: #060c2d;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  position: absolute;
  top: -33%;
  left: 5%;
}
.email {
  text-align: center;
  color: grey;
}
.name {
 text-align: center;
}
.btnFoto {
  color: #efefef;
  background: #000a25;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 28%;
  left: 18%;
}
.portada {
  
  margin: 12px;
  border-radius: 5px;
  width: 98%;
}
.contDatos {
  background: #efefef;
  margin-left: 12px;
  margin-right: 18px;
  border-radius: 5px;
  height: 38%;
  padding-left: 4%;
}
.column1 {
  margin-left: 50px;
  border-radius: 20px;
  background: white;
  padding-bottom: 0%;
  height: 290px;
}
.lbldatos {
  margin-top: 1%;
  margin-bottom: 3%;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.lbldat {
  position: relative;
  left: 6%;
  width: 380px;
  padding-top: 3.5%;
}
.btnEditar {
  margin-right: 22%;
  width: 250px;
  float: right;
  height: 50px;
  background: #000a25;
  color:white;
  border-radius: 10px;
  font-size: 18px;
}

.btnEditarContra {
  width: 250px;
  float: left;
  margin-left: 27%;
  height: 50px;
  background: #000a25;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
}
.iconSave {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}
.c{
  display: flex;
  justify-content: center;
}