.STtop {
  width: 96%;
  height: 12%;
  background: #e3e1e1;
  padding: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  border-radius: 20px;
}
.ContainerSTbtn {
  margin-top: 2%;
}
.tableScrollST {
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
  border-radius: 10px;
}
.scrollST {
  display: block;
}
.TablaST {
  height: 100%;
  margin-bottom: 0.5%;
  background: white;
  border-radius: 20px;
  padding: 1%;
}
.sesion {
  height: 150px;
  padding: 1%;
  margin-bottom: 2%;
  background: #efefef;
}
.STbot {
  width: 96%;
  height: 70%;
  background: #e3e1e1;
  margin-left: 2%;
  margin-top: 1%;
  padding: 1%;

  border-radius: 20px;
}
.btnSTSave {
  width: 200px;
  background: #fd9727;
  float: right;
  height: 40px;
  margin-right: 40px;
  border-radius: 10px;
}
