.STtop {
  width: 96%;
  height: 12%;
  background: #e3e1e1;
  padding: 0.5%;
  padding-left: 6%;
  padding-right: 5%;
  margin-left: 2%;
  border-radius: 20px;
}
.ContainerSTbtn {
  margin-top: 2%;
}
.tableScrollST {
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
  border-radius: 10px;
}
.scrollST {
  display: block;
}
.TablaST {
  height: 85%;
  margin-bottom: 0.5%;
  background: white;
  border-radius: 20px;
  padding: 1%;
}
.sesion {
  height: 185px;
  padding: 1%;
  margin-bottom: 2%;
  background: #efefef;
  border-radius: 20px;
  width: 99%;
}
.STbot {
  width: 96%;
  height: 70%;
  background: #e3e1e1;
  margin-left: 2%;
  margin-top: 4%;
  padding: 1%;

  border-radius: 20px;
}
.btnSTSave {
  width: 200px;
  background: #000a25;
  color:white;
  float: right;
  height: 40px;
  margin-right: 40px;
  border-radius: 10px;
}
.btnDatos{
  width: 400px;
  height: 40px;
  margin-left: 8%;
  background: #000a25;
  color:white;
  border-radius: 10px;
  font-weight: bolder;
}
.titulos{
  margin-top: 6%;
}